*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
}
.heoric-section{
    background-image: url(heoric.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.one{
    color:#000;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    font-family: roboto,sans-serif;
}

.one h2{
    
}
.one h2 span{
    font-size: 62px;
    font-weight: 400;
}
.one h1{
    font-size: 52px;
    font-weight: 400;
}
.black-box{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    
}
img{
    width: 320px;
    height: 180px;
}
.black-box span{
    font-size: 72px;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    margin: 20px 0;
    transition: 0.3s ease-in-out;

}
.card:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.3s ease-in-out;
}
.card-content{
    padding: 20px;
}
.card-content h2{
    margin-bottom: 20px;
}
.bottom{
    display: flex;
}
.contact{
    background-color: rgb(6, 43, 6);
}
.about{
    background-color: rgb(107, 4, 4);
}
.contact,.about{
    padding: 32px;
    min-height: 300px;
    color: white;
}
.contact p,.about p{
    margin-bottom: 20px;
}
.contact h2,.about h2{
    font-size: 64px;
    font-weight: 300;
}
.four{
    background-color: #000;
    text-align: center;
    color: white;
    padding: 20px;
}
@media (max-width:786px){
    .heoric-section{
        min-height: 50vh;
    }
    .one{
        padding-left: 10px;
    }
    .one h2 span{
      font-size: 32px;        
    }
    .one h1{
        font-size: 32px;
    }
    .black-box h2{
        font-size: 24px;
    }
    .black-box span{
        font-weight: 400;
        font-size: 32px;
    }
   .bottom{
        flex-direction: column;
    }
    .bottom h2{
        font-size: 48px;
    }
}